# This file controls the configuration of the audit daemon
#

local_events = {{ local_events }}
write_logs = {{ write_logs }}
log_file = {{ log_file }}
log_group = {{ log_group }}
log_format = {{ log_format }}
flush = {{ flush }}
freq = {{ freq }}
max_log_file = {{ max_log_file }}
num_logs = {{ num_logs }}
priority_boost = {{ priority_boost }}
disp_qos = {{ disp_qos }}
dispatcher = {{ dispatcher }}
name_format = {{ name_format }}
##name = mydomain
max_log_file_action = {{ max_log_file_action }}
space_left = {{ space_left }}
space_left_action = {{ space_left_action }}
action_mail_acct = {{ action_mail_acct }}
admin_space_left = {{ admin_space_left }}
admin_space_left_action = {{ admin_space_left_action }}
disk_full_action = {{ disk_full_action }}
disk_error_action = {{ disk_error_action }}
use_libwrap = {{ use_libwrap }}
##tcp_listen_port = 
tcp_listen_queue = {{ tcp_listen_queue }} 
tcp_max_per_addr = {{ tcp_max_per_addr }}
##tcp_client_ports = 1024-65535
tcp_client_max_idle = {{ tcp_client_max_idle }}
enable_krb5 = {{ enable_krb5 }}
krb5_principal = {{ krb5_principal }}
##krb5_key_file = /etc/audit/audit.key
distribute_network = {{ distribute_network }}

